.tablepadding{
    padding-left:100px;
}

.borderfortable{
    border:solid 1px;
}

.paddingforlabel{
    padding-right: 700px;
}

.widthforname{
width:1000px
}

.AlignToLeft{
    text-align: left;
}

.numberalignment{
    width:45px;
    height:45px;
    border-color: brown;
    border: solid 1px brown;
    background-color: white;
    font-size:20px;
}

.clearbtnalignment{
    height: 45px;
    width: 90px;
    border-color: brown;
    border: solid 1px brown;
    background-color: white;
    font-size:20px;
}

.resultbtnalignment{
    width: 180px;
    height: 80px;
    border-color: brown;
    border: solid 1px brown;
    background-color: brown;
    font-size:30px;
    color: whitesmoke;
}