.tablepadding{
    padding-left:100px;
}

.borderfortable{
    border:solid 1px;
}

.paddingforlabel{
    padding-right: 700px;
}

.widthforname{
width:1000px
}

.AlignToLeft{
    text-align: left;
}

